body{
    font-family: Times new roman, Arial, Verdana, sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #222;
}
.top-header {
    display: flex;
}
#top-nav {
    margin-right: 0px;
    float: left;
    width: 18%;
    background-color: #FFFFFF;
  /*   height: 220px; */
}
.top-head {
    background-color: #FFFFFF;
    width: 64%;
    float: right;
    /* display: flex; */
}
#top-title {
    margin-left: 1%;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    color: #7395c5;
    width: 100%;
    white-space: nowrap;
}
#top-title a{
    color: #4c4b4b;
    text-decoration: none;
}
#help{
    text-align: center;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 10px;
    width: 100%;
}
#help a {
    color: #7395c5;
}
#help a.link {
    text-decoration: none;
}
#help a.visit {
    color: #7395c5;
}

#disclaimer{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    font-style: italic;
    width: 100%;
}


/* .search-btn {
  background: none;
  border-top: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  padding: 20px;
  text-align: left;
  text-decoration: none;
} */

/* .search-btn:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #624630;
}

.search-btn.active {
  background: #F2EBD9;
  color: #624630;
} */


.main-section{
    margin-top: 10px;
    text-align: left;
    padding: 20px;
    color: #000;
    clear: both;
    bottom: 0px;
}
.main-section h3{
    color: #7395c5;
}
h3{
    clear: both;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

/**
 * item list
 */
#item-list {
	background: #F2EBD9;
	color: #624630;
	list-style: none;
	margin-left: 180px;
	min-height: 250px;
	padding: 10px;
}

#item-list .notice {
	font-size: 16px;
	padding: 60px;
	text-align: center;
}

/**
 * item
 */
.item {
	align-items: center;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	margin: 10px;
	padding: 15px;
	transition: background-color 100ms linear;
}

.item:last-child {
	border: none;
}

.item:hover {
	background: rgba(255, 255, 255, 0.8);
	transition: background-color 100ms linear;
}

/* .item img {
  border: 1px solid #FFFFFF;
  height: 80px;
  width: 80px;
} */

.item>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}


.item-name {
	color: #624630;
	font-weight: 400;
	text-decoration: none;
}

.item-name:hover {
	text-decoration: underline;
}

.item-authors {
	line-height: 20px;
	padding-right: 20px;
	align-items: center;

}

.item-pages {
	align-items: center;
	display: flex;
	padding-top: 10px;

}

.item-conference {
	/* border-left: 1px solid #FFFFFF; */
/* 	cursor: pointer; */
/* 	line-height: 60px;
	text-align: center; */
	line-height: 20px;
	padding-right: 20px;
	align-items: center;
}

.item-time {
	align-items: center;
	display: flex;
	padding-top: 10px;

}


